*
{
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}
body
{
	font-size: 16px;
}
#header-nav
{
    border-radius: 0;
	background-color:lightgray;
}  
.navbar-brand
{
	padding: 25px;
	
}
/* Restaurant name */
.navbar-brand h1 
{ 
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
	color: black;
}

.navbar-brand a:hover, .navbar-brand a:focus
{
	text-decoration: none;
}
#nav-list
{
	margin-top: 10px;
	
	
}
#nav-list a 
{
	color: black;
	text-align: center;
	font-size: 1.5em;

}
#nav-list a:hover 
{
	background: #E7E7E7;
}
/* content */
#main-content h1
{
	font-weight: 400;
	margin-bottom: 30px;
}
#menu
{
	background-color: lightgray;
	
}
#menu h2
{
	font-size: 1.5em;
	margin-top: 0;
	padding: 5px;
}

@media (max-width:768px)
{
	#collapsable-nav
	{
	background-color: whitesmoke;
	}
	
}
