*
{
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;
}
.row
{
    width: 100%; 
}
h1
{
    text-align: center;
    margin-top: 40px;
    font-size: 50px;
}
.content
{
    border: 2px solid black;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    background-color:floralwhite;
}



.des
{
    padding-left: 10px;
    padding-top: 20px;
    width: 100%;
}
.heading
{   
    
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    margin-top: 0;
    margin-right: 0px;
    float: right;
    font-weight: 400;
    padding: 5px;
}
.head1
{
    background-color: chartreuse;
}
.head2
{
    background-color: coral;
}

.head3
{
    background-color:honeydew;
}


@media (min-width: 992px)
{
    .col-lg-4
    {
        float: left;
        width: 33.33%;
        padding: 10px;  
    }
}
@media(min-width: 768px) and (max-width: 991px)
{
    .col-md-6, .col-md-12
    {
        float: left;
        
    }
    .col-md-6
    {
        width: 50%;
        padding: 10px; 
    }
    .col-md-12
    {
        width: 100%;
        
    }

    h1
    {

        font-size: 40px;
    }
    
}
@media(max-width: 767px)
{
    .col-sm-12
    {
        float: left;
        width: 100%;
    }

   h1{

        font-size: 30px;
    }
}
